@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: hsl(180, 100%, 5%);
}

#root {
  min-height: 100dvh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: min(2rem, 7%);
}

button {
  font-family: inherit;
  outline: none;
  border: none;
  cursor: pointer;
}
