:root {
  --accent-clr: hsl(60, 100%, 70%);
  --text-clr: hsl(180, 100%, 60%);
  --text-clr-dark: hsl(180, 100%, 10%);
  --error-clr: hsl(0, 100%, 70%);
  --gradient-clr-blue: hsl(240, 100%, 70%);
  --gradient-clr-orange: hsl(39, 100%, 55%);
  --shadow-clr: hsla(180, 80%, 30%, 0.3);

  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;

  --spinner-size: 50px;

  --text-l: clamp(1.75rem, 1.317rem + 1.3857vw, 2.5rem);
  --text-s: clamp(0.95rem, 0.8923rem + 0.1848vw, 1.05rem);
}

/* -------- APP TITLE -------- */

.appTitle {
  font-size: var(--text-l);
  font-weight: 800;
  color: var(--text-clr);
  margin-bottom: var(--space-m);
}

/* -------- SEARCH FORM -------- */

.searchForm {
  display: flex;
  width: min(20rem, 100%);
  justify-content: space-between;
  background-color: hsla(180, 100%, 60%, 0.1);
  overflow: hidden;
  border-radius: 50px;
}

/* -------- SEARCH INPUT -------- */

.searchForm > input[type="text"] {
  flex-grow: 1;
  min-width: 0;
  background-color: transparent;
  color: var(--accent-clr);
  padding: 0 var(--space-l);
}

/* -------- SEARCH BUTTON -------- */

.searchForm > button[type="submit"] {
  flex-shrink: 0;
  display: flex;
  background-color: var(--accent-clr);
  color: var(--text-clr-dark);
  font-weight: 700;
  padding: 0.5rem var(--space-m);
  cursor: pointer;
}

/* -------- LOADING SPINNER -------- */

.spinnerContainer {
  width: var(--spinner-size);
  height: var(--spinner-size);
  border: 6px solid hsla(180, 100%, 60%, 0.1);
  border-radius: 50%;
  margin-top: var(--space-xl);
  position: relative;
}

.spinner {
  position: absolute;
  top: -6px;
  left: -6px;
  width: var(--spinner-size);
  height: var(--spinner-size);
  border: inherit;
  border-top-color: var(--text-clr);
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

/* -------- ERROR MESSAGE -------- */

.error {
  font-size: var(--text-s);
  color: var(--error-clr);
  margin-top: var(--space-m);
  text-align: center;
}

/* -------- WEATHER CARD -------- */

.card {
  margin-top: var(--space-xl);
  background-image: linear-gradient(
    to bottom,
    var(--gradient-clr-blue),
    var(--gradient-clr-orange)
  );
  padding: var(--space-l) var(--space-xl);
  border-radius: 25px;
  box-shadow: 0 0 15px var(--shadow-clr);
  line-height: 1.7;
}

/* -------- CARD TEXTS -------- */

.card > h1 {
  font-size: var(--text-l);
  font-weight: 800;
}

.card > h1,
.card > h2,
.card > p {
  text-align: center;
}

.card > h2 {
  font-size: clamp(1.2rem, 0.7381rem + 1.4781vw, 2rem);
  margin-top: var(--space-m);
}

.card > p {
  font-size: var(--text-s);
  font-weight: 800;
  text-transform: capitalize;
  margin-top: var(--space-m);
}

/* -------- WRAPPER -------- */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.right > p {
  font-size: var(--text-s);
  font-weight: 600;
}

/* -------- LOADING ANIMATION */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
